@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Nunito", sans-serif;
}
.header {
  padding: 1em 0em;
  width: 100%;
  height: 4em;
  align-items: center;
}
.navbar {
  width: 90%;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 0;
  padding-left: 35%;
  align-items: center;
}
.navbar ul li {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  color: #000000;
}

.loginBtn {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.4em 1.75em;
  text-decoration: none;
  color: #1153b5;
  border: 1px solid #1153b5;
  border-radius: 0.75em;
}
.loginBtn:hover {
  background-color: #1153b5;
  color: #ffffff;
  transition: 0.1s ease-in-out;
}
.logo {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background-image: url(../../assets/images/logohms.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.modalBox {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  width: 623px;
  height: 443px;
  top: 3em;
  left: 30%;
  box-shadow: 0px 17px 14px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 1em;
  z-index: 5;
}
.modalFrame {
  margin: auto;
  padding-top: 1.25em;
}
.modalFrame h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.modalFrame p {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}
.modalFrame a {
  border: none;
  color: #1153b5;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
}
.modalImg {
  background-image: url(../../assets/images/Security-pana.png);
  background-repeat: no-repeat;
  width: 372px;
  height: 248px;
  margin: auto;
  margin-bottom: 0.5em;
}
