.fluid {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: rgb(245, 129, 62);
  color: rgb(255, 255, 255);
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover {
  background: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  transition: all 0.5s;
}
.active {
  background: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
}
.icon,
.link_text {
  font-size: 20px;
}
