.fluid {
  display: flex;
}
main {
  width: 100%;
  padding: 0px 20px;
}
.sidebar {
  background: #0e4597;
  color: rgb(255, 255, 255);
  height: 100vh;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.bars {
  font-size: 20px;
  cursor: pointer;
}
.link {
  display: flex;
  color: rgb(255, 255, 255);
  padding: 20px 20px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover {
  background: #608cce;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
}
.active {
  background: #608cce;
  color: rgb(255, 255, 255);
}
.icon,
.link_text {
  font-size: 20px;
}
hr {
  border-width: 2px !important;
}
