.avatar {
  width: 150px;
  clip-path: circle();
}
.btn-blue {
  background-color: #1153b5 !important;
  color: #fff !important;
}
.btn-outBlue {
  border-color: #1153b5 !important;
  color: #1153b5 !important;
}
